.images {
    height: 40%;
    width: 40%;
    border-radius: 20px;
}

/* Change the color of carousel controls */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #e95897; /* Change to your desired gradient */
}

.forSpace{
  padding: 100px;
}

