.card {
  width: 250px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}
.column {
  width: 350px;
}
.ed {
  height: 25px;
  width: 25px;
}
.de {
  height: 38px;
  width: 38px;
}
.card-image {
  position: absolute;
  top: -25px;
  left: -25px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  z-index: 1;
}
.image {
  padding: 30px;
}
.mainRow {
  padding-top: 10px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
}
.book-price-text {
  color: #2a9f1d;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
}
.book_rating {
  color: #444;
  font-size: 12px;
}
.gradient-button {
  background: linear-gradient(to left, #743ad5, #d53a9d);
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
}