.card {
  width: 250px;
  height: 650px;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.column {
  width: 350px;
}

.ed {
  height: 25px;
  width: 25px;
}

.de {
  height: 38px;
  width: 38px;
}

.card-image {
  position: absolute;
  top: -25px;
  left: -25px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  z-index: 1;
}

.card-image1 {
  position: absolute;
  bottom: -20px;
  right: 100px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 1;
}

.card-image1:hover {
  transform: scale(1.1);
}

.image {
  padding: 30px;
}

.mainRow {
  padding-top: 10px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
  align-items: center;
  align-content: center;
}

.alert{
  text-align: center;
  align-items: center;
  align-content: center;
}

.book-price-text {
  color: #2a9f1d;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
}

.book_rating {
  color: #444;
  font-size: 12px;
}

.gradient-btn {
  background: linear-gradient(to left, #36b8f0, #e95897);
  color: #fff;
  margin-bottom: 40px;
  border-radius: 25px;
  border: none;
}

.bottom {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 80%;
  transform: translateX(-50%);
}
