.navbar {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.navtext {
  color: #6b5b95;
  text-decoration: solid;
  font-size: x-large;
  text-align: left;
}
.navbtn {
  background-color: white;
  color: #6b5b95;
}
.tabs {
  font-family: arial;
  text-align: center;
  position: fixed;
  top: 60px;
  width: 100%;
  z-index: 100;
}

.tab-buttons {
  margin-bottom: 50px;
  margin-top: 90px;
}

button {
  margin-right: 15px;
  font-size: 17px;
  background: transparent;
  border: none;
  outline: none;
  padding: 10px 20px;
  cursor: pointer;
  color: #6b5b95;
  transition: all ease-in-out 0.2s;
  border-bottom: 2px solid transparent;
}

.border-gradient {
  border-bottom: 3px solid;
  border-image-slice: 1;
  border-width: 3px;
  background-color: white;
}
.border-gradient-purple {
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}