@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: linear-gradient(to left,  #733ad525, #d53a9c25);
}

/* .mr-20 {
  margin-right: 20px !important;
} */
